<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.restrentcarproject.mapper.CarsMapper">

    <resultMap id="MyMap" type="com.example.restrentcarproject.model.Cars">
        <result property="id" column="id"/>
        <collection property="cars" javaType="list" column="id"
                    ofType="string"/>
    </resultMap>

    <select id="selectAllCars" resultType="Cars">
        select *
        from "CarsModel"."CarsName"
        ORDER BY "CarsModel"."CarsName"."id";
    </select>

    <select id="selectAllCarsSort" resultType="Cars">
        select *
        from "CarsModel"."CarsName"
        ORDER BY "CarsModel"."CarsName"."id" DESC;
    </select>

    <select id="getAllLogin" resultType="Admin">
        select *
        from "login"."UsersLogin"
        where "login"."UsersLogin"."login" = #{username}
    </select>

    <select id="getUser" resultType="Users">
        select "authorization"."UsersData".*,
               "CarsModel"."CarsName"."name" AS nameCars,
               "CarsModel"."CarsName"."model",
               "CarsModel"."CarsName"."price"
        from "authorization"."UsersData"
                 INNER JOIN "CarsModel"."CarsName" ON
            "authorization"."UsersData"."carsid" ="CarsModel"."CarsName"."id"
        where userid = #{userid};
</select>

    <insert id="insertUser" parameterType="Users" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO "authorization"."UsersData" (name, surname, birthday, passid, balance, timearent,carsid,userid,status)
        VALUES (#{name}, #{surname},#{birthday},#{passid},#{balance},#{timearent},#{carsid},#{userid},'answer.png')
    </insert>

    <insert id="insertCar" parameterType="Cars" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO "CarsModel"."CarsName" (price,name,model,image,release,kpp,dvigatel,mesta)
        VALUES (#{price},#{name},#{model},#{image},#{release},#{kpp},#{dvigatel},#{mesta})
    </insert>

    <insert id="insertImageCars" parameterType="ImageCars" useGeneratedKeys="true">
        INSERT INTO "CarsImage"."ImageCars" (carsimage,carid) VALUES (#{carsimage},#{carid})
    </insert>

    <select id="getRoleName" resultType="Admin">
        select "login"."UsersLogin"."id","login"."UsersLogin"."role" from "login"."UsersLogin" where id = #{id}
    </select>

    <select id="findForLogin" resultType="Admin">
        select * from "login"."UsersLogin" where login = #{login}
    </select>

   <select id="invalid" resultType="Admin">
        select * from "login"."UsersLogin" where login = #{login}
    </select>

    <insert id="insertAccount" parameterType="Admin" useGeneratedKeys="false" keyProperty="id">
        insert into "login"."UsersLogin"(login,password,role) values (#{login},#{password},'USER')
    </insert>

    <insert id="insertAdmin" parameterType="Admin" useGeneratedKeys="false" keyProperty="id">
        insert into "login"."UsersLogin"(login,password,role) values (#{login},#{password},'ADMIN')
    </insert>

    <select id="selectAllUsers" resultType="Users">
        select "authorization"."UsersData".*,
               "CarsModel"."CarsName"."name" AS nameCars,
               "CarsModel"."CarsName"."model",
               "CarsModel"."CarsName"."price"
        from "authorization"."UsersData"
                 INNER JOIN "CarsModel"."CarsName" ON
            "authorization"."UsersData"."carsid" ="CarsModel"."CarsName"."id"
        ORDER BY "authorization"."UsersData"."id" DESC;
    </select>

    <select id="selectCarById" resultType="Cars">
        select * from "CarsModel"."CarsName" where id=#{id};
    </select>

    <select id="selectCarImages" resultType="ImageCars">
        select "CarsImage"."ImageCars"."carsimage"
        from "CarsModel"."CarsName"
                 INNER JOIN "CarsImage"."ImageCars" ON
            "CarsModel"."CarsName"."id" = "CarsImage"."ImageCars"."carid"
        where "CarsModel"."CarsName"."id"=#{id};
    </select>

    <select id="selectUsersId" resultType="Users">
        select * from "authorization"."UsersData" where id=#{id};
    </select>

    <select id="selectImage" resultType="Cars">
        select "CarsModel"."CarsName"."image" from "CarsModel"."CarsName" where id = #{id}
    </select>

        <select id="selectImages" resultType="ImageCars">
        select "CarsImage"."ImageCars"."carsimage" from "CarsImage"."ImageCars" where carid= #{id}
        </select>

    <select id="carsId" resultType="Cars">
        SELECT "cars_names"."name", "cars_names"."model"
        FROM "authorization"."UsersData" AS "users",
             "CarsModel"."CarsName" AS "cars_names"
             where "users"."carsid" = #{carsid};
    </select>

    <update id="updateDamage">
        UPDATE "authorization"."UsersData"
        SET damage = 'damage.png'
        WHERE id = #{id};
    </update>

    <update id="updateDamageCars">
        UPDATE "CarsModel"."CarsName"
        SET damage = 'damage.png',
            status = #{status}
        WHERE id = #{id};
    </update>

    <update id="updateDamageCarsNull">
        UPDATE "CarsModel"."CarsName"
        SET damage = '',
            status = #{status}
        WHERE id = #{id};
    </update>

    <update id="updateDamagenull">
        UPDATE "authorization"."UsersData"
        SET damage = ''
        WHERE id = #{id};
    </update>

    <update id="updateReason" parameterType="Users" useGeneratedKeys="false" keyProperty="id">
        UPDATE "authorization"."UsersData"
        SET deviations = #{deviations},
            disbalance = #{disbalance},
            status = 'reject.png'
        WHERE id = #{id};
    </update>

    <update id="updateBalance" parameterType="Users" useGeneratedKeys="false" keyProperty="id">
        UPDATE "authorization"."UsersData"
        SET balance = #{balance},
            disbalance = #{disbalance},
            status = 'suc.png'
        WHERE id = #{id};
    </update>

    <delete id="deleteCars">
        DELETE
        FROM "CarsModel"."CarsName"
        WHERE id = #{id}
    </delete>

    <delete id="deleteImageCars">
        delete from "CarsImage"."ImageCars" where carid = #{id}
    </delete>

    <select id="getIdForLogin" resultType="Admin">
        select "login"."UsersLogin"."id" from "login"."UsersLogin" where login = #{login}
    </select>

</mapper>